.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.popup h2 {
  margin-bottom: 20px;
}

.popup p {
  margin-bottom: 20px;
}

.popup-button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-button:hover {
  background-color: #0056b3;
}

.sad {
  width: 50px;
  height: auto;
}

.left-sad {
  position: absolute;
  top: 50%;
  left: -60px; /* Adjust as necessary */
  transform: translateY(-50%);
}

.right-sad {
  position: absolute;
  top: 50%;
  right: -60px; /* Adjust as necessary */
  transform: translateY(-50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .popup-content {
    width: 80%;
    padding: 15px;
    border-radius: 5px;
  }

  .popup-close {
    font-size: 1.25rem;
    top: 5px;
    right: 5px;
  }
  .left-sad {
    left: -40px; /* Adjust as necessary */
    width: 40px;
  }

  .right-sad {
    right: -40px; /* Adjust as necessary */
    width: 40px;
  }
}
